// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.disabled-comments{
    display: none;
}
.media_display{
    width: 100%;
    height: 250px;
}