// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.company_profile_info{
    margin-bottom: 20px !important;
}
.update-profile{
    position: absolute;
    top: 150px;
    right: 47px;
    background: #fff;
    height: 51px;
    width: 161px;
    opacity: 0.7;
    text-align: center;
    cursor: pointer;
}